html {
    scroll-behavior: smooth;
}

.meme{
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 90%; 
    flex-shrink: 1;
}
.meme1{
    background-image: url('assets/img/1.jpg');
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

.meme2{
    background-image: url('assets/img/2.jpg');
    background-size: 100% 100%;
    background-repeat: no-repeat;
}
.meme3{
    background-image: url('assets/img/2.jpg');
    background-size: 100% 100%;
    background-repeat: no-repeat;
}
.meme4{
    background-image: url('assets/img/2.jpg');
    background-size: 100% 100%;
    background-repeat: no-repeat;
}
.meme5{
    background-image: url('assets/img/2.jpg');
    background-size: 100% 100%;
    background-repeat: no-repeat;
}


/* .container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1.875rem;
    margin: 0 auto;
    width: 90vh;
    max-width: 100%;
}

.memeContainer{
    display: flex;
    justify-content: center;
    margin: 0 auto;
}



.memeStyle{
    max-width: 100%;
    margin-top: 2rem;
    margin-bottom: 2rem;
    border: 0.5rem double black;
}

.hidden {
    display: none;
}
.memeTov{
    color: #000;
    font-family: Inter;
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1rem;
    text-transform: uppercase; 
    flex-wrap: wrap;
    max-width: 80%;
    max-height: 80%;
    padding: 0.5rem;
    border: 0.25rem double black;
}
.paginationContainer{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    max-width: 65%;
} 
.pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
    align-self: flex-end;

}
.pagination-dot{
    width: 3rem;
    height: 3rem;
    display: flex;
    align-items: center;
}
.pagination-dot:hover{
  cursor: pointer;
}

.dot{
    background-color: #0C0C0E;
    border-radius: 50%;
    width: 1.5rem;
    height: 1.5rem;
    border: none;
    margin: 0.5rem;
    margin-left: none;
}
.dot:hover{
    background-color: #6e5c54;
}
.dot:active{
    background-color: #c08f8f;
}
.dot-active{
    background-color: #ebc2af;
    border-radius: 50%;
    width: 1.5rem;
    height: 1.5rem;
    border: none;
    margin: 0.5rem;
    margin-left: none;
}
@media (max-width: 500px) {
    .container{
        padding: 0;
    }
    .paginationContainer{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        max-width: 100%;
    } 
    .pagination{
        order: 1;
        align-self: center;
        margin-top: 0;
        margin-bottom: 1rem;
    }

    .memeTovContainer{
        order: 2;
        max-width: 80%;
        align-self: start;
    }
    .memeTov{
        margin-left: 0;
        border: 0.25rem double black;
        
    }
}
*/